<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Find The Bugs</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <!-- Setup the navigation bar header -->
  <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="#">Find The Bugs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/bugs/showall">Show All Bugs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bugs/new">Report A Bug</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Setup the body for bootstrap to use -->
  <div class="container">
    <div class="welcome text-center">
      <h1>Welcome to <i>Find The Bugs</i></h1>
      <h3><i>Find The Bugs</i> is a platform where you can find, report and edit bugs.</h3>
      <br />
      <h5><a href="/bugs/showall">Click Here</a> to see a list of bugs within this application that need to be found / fixed.</h5>
    </div>
  </div>
</body>

</html>
