.information {
  padding-top: 20px;
}

.details {
  font-size: 20px;
  font-weight: bolder;
  border-left: 3px solid black;
  height: 100%;
}

.buttons {
  display: inline-block;
}

.buttons > a {
  width: 72px;
  margin-bottom: 5px;
  margin-top: 5px;
}

img {
  width: 100%;
}
